[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ncappc"]
	path = ncappc
	url = https://github.com/uupharmacometrics/ncappc
[submodule "xpose"]
	path = xpose
	url = https://github.com/uupharmacometrics/xpose
[submodule "xpose4"]
	path = xpose4
	url = https://github.com/uupharmacometrics/xpose4
