[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "xpose"]
	path = xpose
	url = https://github.com/uupharmacometrics/xpose
	shallow = true
	registered = true
[submodule "xpose4"]
	path = xpose4
	url = https://github.com/uupharmacometrics/xpose4
	shallow = true
	registered = true
